body {
    background-image: url("../gmail.png");
    background-image: fixed;
    /* background-repeat: no-repeat; only one appearance with this
    background-size: 100%; /* rescale based on container size */
}


textarea,input:not(#logo),#email {
    outline: none;

    resize: none;

    border: 1px solid #cccccc;
    font-size: 13px;
    font-family: arial,sans-serif;
}

#email {
    position: absolute;
    height:414px;
    width:958px;
    left: 152px; 
    top: 161px;

    padding: 10px;
    line-height: 130%;
}


#recipients,#subject {
    height:21px;
    width:958px;
    padding: 10px;
}


#recipients {
    position: relative;
    top:69px;
    left:144px;
}

#subject {
    position: relative;
    top:64px;
    left:144px;
}

#logo {
    position: relative;
    left: -520px;
    top: 551px;
    max-height:30px;
}

#logo:hover {
    background-image: url("../logoblue.png");
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -o-transition:      opacity 0.5s;
}

.truncate {
    /* padding: 2px; --> giving off a weird mark at the bottom */ 
    background-color: #E0FFFF; /* soft blue */
}

.tooharsh {
    background-color: #F7819F; /* red */
}

.glotto {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px dashed #999;
}