body {
    background-image: url("gmail.png");
}


#email {
    position: absolute;
    height:414px;
    width:958px;
    left: 152px; 
    top: 161px;

    outline: none;
    padding: 10px;

    resize: none;

    border: 1px solid #cccccc;

    font-size: 12px;
    font-family: arial,sans-serif;
}

#logo {
    position: absolute;
    bottom:31px;
    left:475px;

    max-height:30px;
}